.micelda {
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.fotoperfilimg {
    max-width: 45px;
    max-height: 45px;
    height: 45px;
    width: auto;
}