<div>
    <div class="text-center p-t-20 p-b-20">
        <span class="db"><img src="../../assets/images/LogoMyKine.png" alt="logo" /></span>
    </div>
    <!-- Form -->
    <form class="form-horizontal m-t-20" action="index.html">
        <div class="row p-b-30">
            <div class="col-12">

                <!-- <h3>Account</h3>
                <section> -->

                <!-- usuario -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
                <!-- email -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="fa fa-at"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
                <!-- contraseña -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="fa fa-pen"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
                </div>
                <!-- repetir contraseña -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white" id="basic-addon2"><i class="fa fa-pen"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder=" Confirm Password" aria-label="Password" aria-describedby="basic-addon1" required>
                </div>

                <!-- </section> -->

            </div>
        </div>
        <div class="row border-top border-secondary">
            <div class="col-12">
                <div class="form-group">
                    <div class="p-t-20">
                        <button class="btn btn-block btn-lg btn-info" type="submit">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
