<div class="animate__animated animate__fadeInRight animate__faster">
    <div class="d-flex justify-content-center">
        <div class="card col-md-10">
            <div class="card-body">
                <div>
                    <button class="btn btn-info m-r-10" [disabled]="!datosForm.pristine" routerLink="/admin/cursos">Volver</button>
                    <div class="float-right">
                        <button class="btn btn-primary" [disabled]="(!datosForm.pristine || (esnuevo()))" (click)="nuevo()">Nuevo<i class="fa fa-plus m-l-10"></i></button>
                    </div>
                </div>
                <form class="form-horizontal m-t-20" [formGroup]="datosForm" (ngSubmit)="enviar()">
                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-12 text-lg-right">
                            <span class="">UID</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input type="text" class="form-control" formControlName="uid" id="uid">
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-12 text-lg-right">
                            <span class="">Nombre</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input type="text" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid' : campoNoValido('nombre')}" id="nombre">
                            <div class="invalid-feedback">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-12 text-lg-right">
                            <span class="">Nombre corto</span>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <input type="text" class="form-control" formControlName="nombrecorto" [ngClass]="{'is-invalid' : campoNoValido('nombrecorto')}" id="nombrecorto">
                            <div class="invalid-feedback">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10 ">
                        <div class="col-lg-3 col-md-12 text-lg-right ">
                            <span class=" ">Activo</span>
                        </div>
                        <div class=" ">
                            <div>
                                <div class="custom-control custom-checkbox ml-2">
                                    <input type="checkbox" class="custom-control-input" [ngClass]="{'is-invalid' : campoNoValido('activo')}" formControlName="activo" id="activo" checked>
                                    <label class="custom-control-label" for="activo">marcar para activar / desmarcar para desactivar</label>
                                    <div class="invalid-feedback">
                                        El campo es obligatorio
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center m-t-10 ">
                        <div class="align-content-center ">
                            <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="datosForm.pristine">Enviar</button>
                            <button class="btn btn-danger " type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>